*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
/*================= header part-1 start =======================*/
.color-orange{
    color: orange;

}
.header-part{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    
}
.half-width{
    width: 50%;
    padding: 3%;
    
}
.half-width img{
    width: 100%;
}
.half-width h3{
    margin-bottom: 10px;
}
.half-width p{
    text-align: justify;
    margin-bottom: 15px;
}
.half-width a{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    
}
/*================== header part-1 end ========================*/

/*================== header part-2 start ========================*/

.header-part2{
    display: flex;
    background-image: url(../images/side-banner.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 90px;
    
}
/*================== header part-2 End ========================*/


/*================== Experience start ========================*/
.experience-area{
  padding: 3%;
  background-image: url(../images/exp-side-banner.png);
  background-repeat: no-repeat;
  background-size: 50%;

}

.flexible-container{
    display: flex;
}
.experience-area .exp-heading{
 text-align: center;
 margin-bottom: 90px;
 color: orange;
 
 
  
}
.exp-first-content{
    width: 50%;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 40px gray;
    
       
}
#exp-content{
    border-left: 7px solid;
    border-image:linear-gradient(orange,rgb(105, 3, 3)) ;
    border-image-slice: 1;
}
#exp-cont{
    border-left: 7px solid;
    border-image:linear-gradient(rgba(83, 2, 2, 0.918),rgb(253, 137, 3)) ;
    border-image-slice: 1;
    
}

.exp-first-content h3{
    color: orange;
    margin: 5px 0;
}
.exp-first-content h2{
    color: gray;
    margin: 5px 0;
}

.copy-right{
    text-align: center;
    margin: 80px;
}

